<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Video Player</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-container">
    <video controls autoplay class="video-player">
      <source [src]="videoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</ion-content>